<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="main-detail">
        <div class="container-detail">
            <button class="kategori">Kategori</button>
            <h1>Judul Blog</h1>
            <div class="user-detail-blog">
                <p>By - Username</p>
                <p class="date">24 Juni, 2024</p>
            </div>
            <img src="assets/card4.jpg" alt="" class="img-detail-blog">
            <div class="deskripsi-detail">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia aspernatur reiciendis ducimus libero provident dignissimos molestiae ab excepturi porro quia animi error laborum perferendis, sed, consequatur, assumenda dolorum unde. Sunt cupiditate placeat molestiae nisi voluptas soluta facilis debitis, fugiat sed, minus laboriosam! Sunt dignissimos amet quod reiciendis modi mollitia autem!</p>
            </div>
            <h1 class="title-komen">Komentar</h1>
            <input type="text" placeholder="Komentar" class="input-komen">
            <button class="btn-komen">Post Comment</button>
        </div>

    </main>
</body>

</html>