<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page Blog</title>

    <link rel="stylesheet" href="style.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <ul><a href="#"><img src="assets/WebtechID.svg" alt="" class="img-nav"></a></ul>
            <ul class="list-nav">
                <a href="#Home">Home</a>
                <a href="#About">About Us</a>
                <a href="#Blog">Blog</a>
                <a href="#testi">Testimonial</a>
            </ul>
        </nav>
        <div class="box-search">
            <input type="text" placeholder="Cari">
            <img src="assets/search.svg" alt="">
        </div>
    </header>

    <main>
        <section id="#Home" class="hero-section">
            <div class="text-hero-section">
                <h1>Semua orang punya Cerita!</h1>
                <p>Eksperikan dirimu dan ceritakan dalam sebuah tulisan sederhana..  ayo buat blog mu sekarang juga!</p>
                <button class="btn-hero-section">Learn More</button>
            </div>
            <div class="img-hero-section">
                <img src="assets/img-hero.jpg" alt="" class="img-hero">
                <div class="black-box"></div>
                <div class="gray-box"></div>
            </div>
        </section>
    </main>
</body>

</html>