<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page Blog</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <ul><a href="#"><img src="assets/WebtechID.svg" alt="" class="img-nav"></a></ul>
            <ul class="list-nav">
                <a href="#Home">Home</a>
                <a href="#About">About Us</a>
                <a href="#Blog">Blog</a>
                <a href="#testi">Testimonial</a>
            </ul>
        </nav>
        <div class="box-search">
            <input type="text" placeholder="Cari">
            <img src="assets/search.svg" alt="">
        </div>
    </header>
</body>

</html>