<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page Blog</title>

    <link rel="stylesheet" href="style.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header" id="nav">
        <nav class="navbar">
            <ul><a href="#"><img src="assets/WebtechID.svg" alt="" class="img-nav"></a></ul>
            <ul class="list-nav">
                <a href="#home">Home</a>
                <a href="#about">About Us</a>
                <a href="#blog">Blog</a>
                <a href="#testi">Testimonial</a>
            </ul>
        </nav>
        <div class="box-search">
            <input type="text" placeholder="Cari">
        </div>
    </header>

    <main class="main">
        <section id="home" class="hero-section">
            <div class="text-hero-section">
                <h1>Semua orang punya Cerita!</h1>
                <p>Eksperikan dirimu dan ceritakan dalam sebuah tulisan sederhana.. ayo buat blog mu sekarang juga!</p>
                <button class="btn-hero-section">Learn More</button>
            </div>
            <div class="img-hero-section">
                <img src="assets/card4.jpg" alt="" class="img-hero">
                <div class="black-box"></div>
                <div class="gray-box"></div>
            </div>
        </section>

        <section id="blog" class="popular">
            <div class="container-top">
                <button class="box-popular">
                    Popular Blog
                </button>
                <div class="line"></div>
            </div>

            <div class="container-main">
                <div class="left">
                    <div class="container-card">
                        <div class="card">
                            <img src="assets/img-hero.jpg" alt="" class="img-card">
                        </div>
                        <div class="card-deskripsi">
                            <div class="box-user">
                                <p>Author - Hanif</p>
                                <p class="date">26 Jul, 2024</p>
                            </div>
                            <div class="box-detail">
                                <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium.</p>
                                <a href="">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="container-card">
                        <div class="card">
                            <img src="assets/card1.jpg" alt="" class="img-card">
                        </div>
                        <div class="card-deskripsi">
                            <div class="box-user">
                                <p>Author - Hanif</p>
                                <p class="date">26 Jul, 2024</p>
                            </div>
                            <div class="box-detail">
                                <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium.</p>
                                <a href="">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="container-card">
                        <div class="card">
                            <img src="assets/card2.jpg" alt="" class="img-card">
                        </div>
                        <div class="card-deskripsi">
                            <div class="box-user">
                                <p>Author - Hanif</p>
                                <p class="date">26 Jul, 2024</p>
                            </div>
                            <div class="box-detail">
                                <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium.</p>
                                <a href="">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="container-card">
                        <div class="card">
                            <img src="assets/card3.png" alt="" class="img-card">
                        </div>
                        <div class="card-deskripsi">
                            <div class="box-user">
                                <p>Author - Hanif</p>
                                <p class="date">26 Jul, 2024</p>
                            </div>
                            <div class="box-detail">
                                <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium.</p>
                                <a href="">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="container-card">
                        <div class="card">
                            <img src="assets/card5.jpg" alt="" class="img-card">
                        </div>
                        <div class="card-deskripsi">
                            <div class="box-user">
                                <p>Author - Hanif</p>
                                <p class="date">26 Jul, 2024</p>
                            </div>
                            <div class="box-detail">
                                <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium.</p>
                                <a href="">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section id="about" class="about">
            <h1>About dan Fitur</h1>
            <div class="container-about">
                <div class="box">
                    <h1>Forum Diskusi</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ea suscipit sit eius voluptates cupiditate facilis unde optio consectetur consequuntur.</p>
                </div>
                <div class="box">
                    <h1>Berita Terupdate</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque dignissimos pariatur officia expedita quo sint ut assumenda velit inventore?</p>
                </div>
                <div class="box">
                    <h1>Integrasi Mudah</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus reprehenderit dolores vel, rerum reiciendis natus. Rem cumque architecto deserunt quia!</p>
                </div>
            </div>
        </section>

        <section id="testi" class="testi">
            <h1>Testimonial</h1>
            <div class="container-testi">
                <div class="card-testi">
                    <img src="assets/card4.jpg" alt="" class="img-testi">
                    <div class="deskripsi-testi">
                        <p class="tesk-testi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem assumenda inventore nobis architecto repellat tenetur cumque natus ut non sed.</p>
                        <p><span>Putri aviliani | </span>influencer</p>
                    </div>
                </div>
                <div class="card-testi">
                    <img src="assets/card4.jpg" alt="" class="img-testi">
                    <div class="deskripsi-testi">
                        <p class="tesk-testi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem assumenda inventore nobis architecto repellat tenetur cumque natus ut non sed.</p>
                        <p><span>Putri aviliani | </span>influencer</p>
                    </div>
                </div>
                <div class="card-testi">
                    <img src="assets/card4.jpg" alt="" class="img-testi">
                    <div class="deskripsi-testi">
                        <p class="tesk-testi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem assumenda inventore nobis architecto repellat tenetur cumque natus ut non sed.</p>
                        <p><span>Putri aviliani | </span>influencer</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="box1">
            <div class="icon-sosmed">
                <div class="box-sosmed">
                    <img src="assets/facebook.png" alt="" class="img-sosmed">
                </div>
                <div class="box-sosmed">
                    <img src="assets/blogger.png" alt="" class="img-sosmed">
                </div>
                <div class="box-sosmed">
                    <img src="assets/bebo.png" alt="" class="img-sosmed">
                </div>
                <div class="box-sosmed">
                    <img src="assets/youtube.png" alt="" class="img-sosmed">
                </div>
                <div class="box-sosmed">
                    <img src="assets/dribbble.png" alt="" class="img-sosmed">
                </div>
            </div>
            <div class="nav-footer">
                <ul>
                    <a href="#home">Home</a>
                    <a href="#about">About</a>
                    <a href="#blog">Blog</a>
                    <a href="#testi">Testi</a>
                </ul>
            </div>
        </div>
        <div class="box2">
            <p>&copy;Copyright 2024,</p>
            <p>Designed By M.Hanif R</p>
        </div>
    </footer>
    <script src="index.js"></script>
</body>

</html>