* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Navbar */
.header {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  align-items: center;
  /* position: sticky; */
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.list-nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.list-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.list-nav a::after {
  content: "";
  display: block;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.list-nav a:hover::after {
  transform: scaleX(1);
}
.img-nav {
  padding: 0;
  margin: 0;
  max-height: 130px;
  object-fit: contain;
}
.box-search {
  position: relative;
  width: 300px;
}

.box-search input[type="text"] {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  box-sizing: border-box;
  border: 2px solid ghostwhite;
  border-radius: 20px;
  font-size: 16px;
  background-color: ghostwhite;
  outline: none;
}
.box-search input[type="text"]:focus {
  border: 2px solid gray;
}
.box-search img {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* Hero section */
.hero-section{
    display: flex;
    /* border: 2px solid black; */
    margin-top: 50px;
    justify-content: space-between;
    padding: 0 0 0 40px;
    overflow: hidden;
    /* position: relative; */
}
.text-hero-section{
    max-width: 550px;
    margin-top: 20px;
}
.text-hero-section h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.text-hero-section p{
    font-size: 20px;

}
.btn-hero-section{
    outline: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 30px;
}

/* img hero */
.img-hero-section{
    max-width: 100%;
    position: relative;
}
.black-box, .gray-box{
    z-index: -10;
    position: absolute;
    bottom: 20%;
}
.black-box{
    width: 200px;
    bottom: 40%;
    left: -15%;
    height: 200px;
    background-color: black;
    border-radius: 100%;
}
.gray-box{
    width: 150px;
    bottom: -5%;
    left: 20%;
    height: 150px;
    background-color: gray;
    border-radius: 100%;
}
.img-hero{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    object-fit: cover;
    position: relative;
    left: 10%;
}